# Rubymine
.idea
.idea_modules
atlassian-ide-plugin.xml

# MacOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Ruby
.bybug_history
/.yardoc
/_yardoc/
/.bundle

# Rails
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]
/spec/tmp
config/master.key
.env
.env*.local
/storage/*
!/storage/.keep
/public/uploads
