# Rubymine
.idea
.idea_modules
atlassian-ide-plugin.xml

# MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

.apdisk
.DocumentRevisions-V100

# Ruby
.bybug_history
/.yardoc
/_yardoc/
/.bundle

# Rails
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]
/spec/tmp
config/master.key
.env
.env*.local
/storage/*
!/storage/.keep
/public/uploads
